.feed-container{
    width: 100%;
    height: 100%;
}

.header-container{
    width: 100%;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
}

.header-container .logo-container{
    height: 100%;
    width: 12rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .logo-container img{
    width: 8rem;
}

.header-container .function-container{
    height: 100%;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.header-container .function-container .icons{
    font-size: 30px;
    color: black;
    margin: 0 15px;
    cursor: pointer;
}

.header-container .function-container #profilePic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header-container .function-container .upload-container input{
    display: none;
}

.linear-activity {
    overflow: hidden;
    width: 40rem;
    height: 4px;
    background-color: #B3E5FC;
    margin: 20px auto 0;
}

.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #03A9F4;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #4FC3F7;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

.reels-container{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.reels-container .reel-container{
    width: 40rem;
    background-color: #fff;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

.reels-container .reel-container .profile-container{
    width: 100%;
    height: 4rem;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.reels-container .reel-container .profile-container img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.reels-container .reel-container .profile-container div{
    font-weight: 500;
}

.reels-container .reel-container .video-container{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.reels-container .reel-container .video-container video{
    height: 30rem;
    max-width: 100%;
}

.reels-container .reel-container .button-container{
    width: 100%;
    height: 3.5rem;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.reels-container .reel-container .button-container .icons{
    font-size: 34px;
    margin-right: 15px;
    cursor: pointer;
}

.reels-container .reel-container .comment-container{
    max-height: 12rem;
    padding: 0 20px 10px;
    /* background-color:red; */
}

.reels-container .reel-container .comment-container .likes{
    font-weight: 600;
    margin-bottom: 10px;
}

.reels-container .reel-container .comment-container .comments .comment{
    display: flex;
    font-size: 15px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}

.reels-container .reel-container .comment-container .comments .comment #user-name{
    font-weight: 600;
    margin-right: 5px;
}

.reels-container .reel-container .comment-container .comments .comment #user-comment{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}