.error-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.error-container .error-box{
    width: 25rem;
    height: 10rem;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.error-container .error-box .error{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-container .error-box .error .error-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.error-container .error-box .error .error-title div{
    font-size: 20px;
    font-weight: 600;
}

.error-container .error-box .error .error-message{
    color: #888585;
    /* margin-bottom: 30px; */
}

.error-container .error-box .button-container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
}

.error-container .error-box .button-container button{
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}