.header-container {
    width: 100%;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
}

.header-container .logo-container {
    height: 100%;
    width: 12rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .logo-container img {
    width: 8rem;
}

.header-container .function-container {
    height: 100%;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-container .function-container .icons {
    font-size: 30px;
    color: black;
    margin: 0 15px;
    cursor: pointer;
}

.header-container .function-container #profilePic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header-container .function-container .upload-container input {
    display: none;
}

.header-container .function-container .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header-container .function-container .dropdown {
    position: relative;
    display: inline-block;
}

.header-container .function-container .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #f9f9f9;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-container .function-container .dropdown-content::before{
    content: '';
    display: block;  
    position: absolute;
    bottom: 100%;
    left: 76%;
    /* width: 0;
    height: 0; */
    border: 10px solid transparent;
    border-bottom-color: lightgray;
}

.header-container .function-container .dropdown-content::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 80%;
    margin-left: -5px;
    /* border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9 transparent; */
    border: 9px solid transparent;
    border-bottom-color: #f9f9f9;
}

.header-container .function-container .dropdown-content a,
.header-container .function-container .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
}

.header-container .function-container .dropdown-content a:hover,
.header-container .function-container .dropdown-content div:hover {
    background-color: #f1f1f1;
}

.header-container .function-container .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
