.login-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container{
    max-width: 350px;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}

.input-container .logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container .logo-container img{
    width: 175px;
    margin: 22px auto 12px;
}

.input-container .input-field-container{
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.input-container .input-field{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}


.input-container .input-field span{
    position: absolute;
    font-size: 16px;
    top: 10px;
    left: 42px;
    color: #8E8E8E;
    transition: font-size 0.2s, top 0.2s;
}

.input-container .input-field.focus span{
    font-size: 12px;
    top: 0;
}

.login-input{
    width: 16rem;
    height: 2.5rem;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 11px 0 8px 10px;
    font-size: 15px;
    background: #FAFAFA;
    outline: none;
}

.input-container .input-field.focus .login-input{
    padding: 16px 0 2px 10px; 
}

.input-container .login-btn{
    width: 16rem;
    border: none;
    border-radius: 7px;
    background: #0095F6;
    color: #fff;
    padding: 8px 0;
}

.signup-nav-container{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.signup-nav-container .nav-link{
    font-weight: bolder;
    color: #0095F6;
    text-decoration: none;
}